@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Temperature C
            </th>
            <th>
                Temperature F
            </th>
            <th>
                Summary
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.lstWeather)
{
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.TemperatureC
                </td>
                <td>
                    @item.TemperatureF
                </td>
                <td>
                    @item.Summary
                </td>
            </tr>
        }
    </tbody>
</table>